[SddmGreeterTheme]
Name=Hypr Login
Description=Login screen matching the hyprlock lock screen style
Author=rafeu
Copyright=(c) 2026, rafeu
License=MIT
Type=sddm-theme
Version=1.0
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=hypr-login
Theme-API=2.0
QtVersion=6
